section {
    margin-left: 15% !important;
}

.about-hero {
    width: 218px;
    height: 58px;
    margin-left: 25%;
    margin-top: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    
    text-transform: capitalize;
    
    color: #003AC9;
}

.about-p {
    width: 285px;
height: 32px;
margin-left: 22%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 175%;
/* identical to box height, or 32px */


color: #7A7A7A;
}

.story-header {
    width: 100%;
height: 40px;
padding-left: 30%;

/* h2 */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 125%;
/* identical to box height, or 40px */


color: #484848;
}

.genesis {
    width: 100%;
height: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 125%;
/* identical to box height, or 25px */


/* heading and button */

color: #303030;
}

.genesis-p {
    width: 100%;
height: 100%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 175%;
/* or 32px */


color: #7A7A7A;

}

.genesis-img {
    width: 100%;
height: 80%;
margin-left: 10px;
border-radius: 40.11px;
} 

.vision {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 32px;
gap: 24px;
padding-left: 2% !important;
width: 345px;
height: 380px;

background: #D6E6FF;
border-radius: 40.11px;
}

.vision-p{
    width: 281px;
    height: 192px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 175%;
/* or 32px */


/* text */

color: #7A7A7A;

}

.mission {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 32px !important;
    gap: 24px;
    
    width: 640px;
height: 484px;
    
    background: #FFFBEA;
    border-radius: 40.11px;

}

.mission-p {
width: 100%;
height: 100%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 175%;
/* or 32px */


/* text */

color: #7A7A7A;

}

 

.mission-img, .vision-img {
    margin-top: 10px;
    
}

